* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #456882;
}

body {
    background-color: #1B3C53;
    /* color: #ECDFCC; */
}

#container {
    margin: auto auto;
    background-color: #456882;
    width: 500px;
    height: 500px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.inputrow {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.input {
    display: flex;
    justify-content: center;
}

.input button {
    width: 90px;
    height: 50px;
    background-color: #1B3C53;
    color: #D2C1B6;
    border: 1px solid #D2C1B6;
    border-radius: 5px;
    font-size: 1.25em;
}

#display {
    width: 290px;
    border-radius: 5px;
    border: 1px solid #D2C1B6;
    text-align: right;
    font-size: large;
    padding: 10px;
    font-family: sans-serif;
}

footer {
    padding: 40px 30px;
    min-height: 200px;
    width: 100%;
    

}


@media (max-width: 490px) {
    #container {
        width: 100%;
        height: 100vh;
        margin: auto;
        border-radius: 0px;
    }

    .input button {
        width: 18vw;
    }

    #display {
        width: 59vw;
    }


}